/* Variable Declaration */
// $ian-green: #95C37F;
$primary-background: #e6e9eb;
$primary: #329DE7;
$primary-dark: #213F5F;
$secondary: #FFCA3A;
$accent: #419D78;
$slate: #555555;

/* Core Stuff */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $primary-background;
  font-size: 1rem;
  line-height: 1.7;
  color: $slate;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $slate;
  margin: 10px 0;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $primary-dark;
  }
}

pre {
  background: #F0F0F0;
  margin: 1rem 0;
  border-radius: 2px;
}

code {
    padding: 5px;
}

blockquote {
  border-left: 10px solid #eee;
  margin: 20px 0;
  padding: 0 2rem;
}

/* Utility Classes */

.wrapper {
  margin: 0 3rem;
}

.padding {
  padding: 0.5rem 0.5rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.selected {
  background-color: $primary;
}

.primary-emphasis {
  color: $primary;
}

.secondary-emphasis {
  color: $secondary;
}

.accent-emphasis {
  color: $accent;
}

.icon {
  margin: 5px;
}

/* Content Styling */

#top {
  padding: 0;
  margin: 0;
}

.site-container {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  background-color: $primary-background;
  color: $slate;
  border-bottom: 1px solid $primary;
  height: 75px;
  line-height: 75px;
  position: fixed;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  top: 0;
  z-index: 1000;
  .padding {
    padding: 1em 0;
  }
  a {
    color: $slate;
  }
  .logo {
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 75px;
    transition: all 0.2s ease-in-out;
    z-index: 5;
    @media only screen and (max-width: 660px) {
      font-size: 1.3em;
    }
    i {
      padding: 10px;
      margin-right: 5px;
    }
  }
}

// Compensation for having a 'sticky' navigation
#body {
  margin: 100px 3em 0px 3em;
  @media only screen and (max-width: 530px) {
    margin: 85px 5px 0 5px ;
  }
}

/* Menu Settings */

nav {
  float: right;
  #nav-container {
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
    position: relative;
    @media only screen and (max-width: 660px) {
      position: absolute;
      max-height: 0px;
      overflow: hidden;
      left: 0;
      top: 70px;
      width: 100%;
      color: white;
      background-color: $primary-background;
      text-align: center;
      transition: max-height 0.2s ease-in-out;
    }
    &.active {
      max-height: calc(55px * 4);
    }
    li {
      display: inline-block;
      letter-spacing: normal;
      height: 100%;
      width: auto;
      transition: all 0.2s ease-in-out;
      @media only screen and (max-width: 660px) {
        display: block;
        border-bottom: 1px solid $primary;
        margin: 0;
      }
      a {
        position: relative;
        line-height: 45px;
        padding: 25px;
        white-space: nowrap;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        background-color: $primary;
        a {
            color: $primary-background;
        }
        @media only screen and (max-width: 660px) {
          background-color: $primary;
        }
      }
      &.selected{
        a {
          color: white;
          }
      }
      position: relative;
    }
  }
  #nav-toggle {
    visibility: hidden;
    line-height: 75px;
    padding: 0 10px;
    cursor: pointer;
    @media only screen and (max-width: 660px) {
      visibility: visible;
    }
  }
  @media only screen and (max-width: 660px) {
    margin-bottom: 5px;
  }
}

/* About Me */
#about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5% 0;
  width: 100%;
  @media only screen and (max-width: 530px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #headshot {
    margin: 20px 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    @media only screen and (max-width: 530px) {
      grid-column: 1 / -1;
    }
  }
  #descriptors {
    display: inline-block;
    text-align: right;
    p {
      font-size: 1.5em;
      margin: 5px 0;
    }
    @media only screen and (max-width: 530px) {
      text-align: left;
      margin: 20px 0;
    }
  }
  #self-description {
    padding: 20px;
    grid-column: 1 / -1;
    font-size: 1.3em;
    text-align: center;
  }
}

/* Projects - Main Page */

#projects {
  padding: 10px 0;
  .project-container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 660px) {
      grid-template-columns: 1fr;
    }
  }
  .project-card-info {
    padding: 5px;
  }
  .project-card {
    margin: 10px;

  }
  .project-card-image {
    position: relative;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    img {
      position: absolute;
      top: -15%;
    }
  }
  .project-tech, .project-links {
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 5px;
      font-size: 1rem;
      margin: 0;
    }
  }
  .project-links li {
    font-size: 1.2rem;
  }
}

/* Project-Image & Project-Pages */

/* Project Meta Data */

.project-meta-container {
  width: 200px;
  @media only screen and (max-width: 740px) {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }
  .meta-individual {
    p {
      display: inline-block;
      margin: 4px 8px;
    }
    .download-link {
      text-align: center;
      .download-button {
        margin-top: 10px;
        background-color: $secondary;
        color: white;
        padding: 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $secondary;
        }
        span {
          font-weight: 700;
        }
      }
    }
  }
}


/* Project Content */

.project-content-image {
  display: inline-block;
  @media only screen and (max-width: 740px) {
    display: block;
    width: 100%;
  }
  p > img {
    width: 100%;
  }
  .content {
    float: left;
    width: 70%;
    @media only screen and (max-width: 815px) {
      width: 60%;
    }
    @media only screen and (max-width: 740px) {
      clear: both;
      width: 100%;
    }
  }
  .project-meta-container {
    width: 100%;
    .meta-individual {
      display: inline-block;
      @media only screen and (max-width: 640px) {
        display: block;
      }
    }
  }
}

.project-content-video {
  display: block;
  // position: relative;
    .grav-vimeo {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-top: 25px;
      padding-bottom: 50%;
      margin-bottom: 10px;
      max-width: 1920px;
      max-height: 1080px;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  .content {
    float: left;
    width: 70%;
    @media only screen and (max-width: 815px) {
      width: 60%;
    }
    @media only screen and (max-width: 740px) {
      clear: both;
      width: 100%;
    }
  }
  .project-meta-container {
    float: right;
  }
}

/* Projects Like This */

.projects-like-this {
  clear: both;
  display: block;
  width: 90%;
  margin: 20px auto 20px auto;
  text-align: center;
  @media only screen and (max-width: 655px) {
    width: 100%;
    margin: 20px auto 5px auto;
  }
  .similar-project-container {
    display: inline-block;
    margin: 10px;
    @media only screen and (max-width: 650px) {
      display: block;
      margin: 5px auto;
    }
    img {
      width: 150px;
      height: 150px;
    }
    p {
      margin: 5px;
    }
  }
}

/* About Me */

.about-container {
  width: 100%;
  box-sizing: border-box;
  .about-content {
    width: 59%;
    display: inline-block;
    margin: 5px;
    @media only screen and (max-width: 800px) {
      width: 100%;
      display: block;
    }
  }
  .about-sidebar {
    width: 35%;
    margin-left: 4%;
    display: inline-block;
    vertical-align: top;
    @media only screen and (max-width: 800px) {
      display: block;
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
    .recent-blog-posts {
      width: 100%;
      text-align: left;
      margin: 5px auto;
    }
  }
}

/* Blog Posts & Cards */
#blog-post-list {
  margin: 20px 0 0 0 ;;
  .blog-post-card {
    padding: 5px;
    list-style: none;
    .blog-post-title {
      font-size: 1.5em;
    }
    .blog-post-card-contents {
      width: 95%;
      margin: 0 auto;
      .blog-post-date {
        margin-bottom: 0;
      }
    }
  }
}


/* Footer */

.social-links {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 1.5rem 0;
  margin: 10px;
}

.social {
  color: black;
  margin: 0.5rem;
  text-decoration: none;
  line-height: 2rem;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.54, 2.16);
  &:hover {
    transform: scale(1.1);
  }
}

.twitter {
  color: #00aced;
}

.linkedin {
  color: #007bb6;
}

.vimeo {
  color: #1ab7ea;
}

.dribbble {
  color: #ea4c89;
}

.d-and-d {
  color: red;
}

/* Footer */

.reference-link {
  color: $slate;
  background-color: white;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $accent;
  }
}